<style type="text/css">
h2 {
    display: inline;
}
.typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
    50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
}
.typed-fade-out{
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
}
.type-content {
	color: rgb(0, 0, 0)
}
.type-content p {
	font-size: 21px;
	line-height: 27px;
}
#box{
    color: #e84d49;
    display: inline;
}
</style>

<section id="type" class="typed-fade-out">
    <article class="type-content">
        <h2>I am
            <div id="box"></div>
        </h2>
        <p>I am a ordinary person.<br/>
        But I like doing something exordinary.
        </p> 
    </article>
</section>
<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/2.0.5/typed.js"></script>
<script>
    var boxObj = document.getElementById('box');
    new Typed(boxObj,{
        strings: ['<h2>Allen Tan<h2>','<h2>A Code Rookie<h2>','<h2>Moving...<h2>'],
        typeSpeed:200,
        startDelay: 100,
        loop: true,
        loopCount: Infinity 
    });
</script>